*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  transition: background-color 2s ;
}

a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style-type: none;
}
